body {
  background-color: rgb(23, 24, 23);
  color: white;
}

.btn-primary {
  color: #212529;
  background-color: #20df12;
  border-color: #20df12;
}

.text-primary {
  --bs-text-opacity: 1;
  color: #20df12;
}
.fw-bold {
  font-weight: 700!important;
  color: white;
}
.fw-normal {
  font-weight: 400!important;
  color: white;
}

.fs-5 {
  font-size: 1.25rem!important;
  color: white;
}

.imgLogo {
  display: flex;
  justify-content: center;
  margin: auto
}